name: Deploy Zammad

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Deploy to VM
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.USERNAME }}@${{ secrets.HOST }} '
            cd /root/zammad-auto-deploy &&
            git pull origin main &&
            docker compose -f docker-compose.yml -f monitoring/docker-compose.monitoring.yml pull &&
            docker compose -f docker-compose.yml -f monitoring/docker-compose.monitoring.yml up -d
          '
